body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
}

.App {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    height: 100vh; 
    box-sizing: border-box; 
    background-color: #f9f9f9; 
}
